<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Havenly</title>
  </head>
  <body>
    <h3>Create a Listing</h3>
    <form action="/listings" method="post">
      <input type="text" name="listing[title]" placeholder="Enter title" />
      <br />
      <br />
      <input type="text" name="listing[description]" placeholder="Enter description" />
      <br />
      <br />
      <input type="number" name="listing[price]" placeholder="Enter price" />
      <br />
      <br />
      <input type="text" name="listing[image]" placeholder="Enter image link/url" />
      <br />
      <br />
      <input type="text" name="listing[country]" placeholder="Enter country" />
      <br />
      <br />
      <input type="text" name="listing[location]" placeholder="Enter location" />
      <br />
      <br />
      <button type="submit">Add</button>
    </form>
  </body>
</html>
